/* Apply Inter font globally */
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Headings with a bit more weight */
h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #222;
  margin-top: 0;
  
  font-family: "Ancizar Serif", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


h1{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
